/* esercizio 1  */

.ex-1-square {
  transition: 2s;
}
.ex-1-square:hover {
  background: red;
}

/* esercizio 2  */

.ex-2-square {
  transition: 2s;
}
.ex-2-square:active {
  width: 100%;
}

/* esercizio 3  */

.ex-3-square {
  transition: 1s;
}
.ex-3-square:hover {
  border-radius: 100%;
}

/* esercizio 4  */

.ex-4-square {
  transition: 1s;
}
.ex-4-square:hover {
  opacity: 0;
}

/* esercizio 5  */

/* esercizio 6  */

/* esercizio 7  */
